@import url(./__content/results__content.css);
@import url(./__grid/results__grid.css);
@import url(./__header/results__header.css);
@import url(./__title/results__title.css);
@import url(./__analytics-link/results__analytics-link.css);
@import url(./__card/results__card.css);
@import url(./__technology/results__technology.css);
@import url(./__img/results__img.css);
@import url(./__date/results__date.css);
@import url(./__info/results__info.css);
@import url(./__user-photo/results__user-photo.css);
@import url(./__email/results__email.css);
@import url(./__card-title/results__card-title.css);
@import url(./__text/results__text.css);
@import url(./__site/results__site.css);
@import url(./__slider/results__slider.css);
@import url(./__cell/results__cell.css);
@import url(./__more-btn/results__more-btn.css);

.results {
  position: relative;
  padding: 90px 0;
  background-color: #f5f6f7;
}

@media screen and (max-width: 800px) {
  .results {
    padding: 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .results {
    padding: 32px 0;
  }
}