@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);

@import url(../../blocks/header/header.css);
@import url(../../blocks/menu/menu.css);
@import url(../../blocks/nav/nav.css);
@import url(../../blocks/results/results.css);
@import url(../../blocks/analytics/analytics.css);
@import url(../../blocks/footer/footer.css);

.hidden {
  display: none;
}

.inner {
  max-width: 1232px;
  margin: auto;
}

.grey {
  color: #b6bcbf;
}

@media screen and (max-width: 1312px) {
  .inner {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .inner {
    padding: 16px;
  }
}