.preloader__icon {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #eee;
  border-bottom: 2px solid #ccc;
  margin-bottom: 24px;
  animation: preloader 1.5s linear infinite;
}

@keyframes preloader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}