.analytics__count {
  width: 27px;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.4px;
  color: #B6BCBF;
}

.analytics__count:last-child.analytics__count_head {
  width: 150px;
  display: block;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.analytics__count_center {
  text-align: center;
}

.analytics__count_right {
  text-align: right;
}

.analytics__count:nth-child(2) {
  text-align: left;
}

.analytics__count:last-child {
  text-align: right;
}

.analytics__row:not(:last-child) td{
  padding-bottom: 28px;
}